body{
	background-color: #D0FFF2;
	font-size:48px;
	font-weight: 400;
}
h1{
	color:black;
	font-family: "Times New Roman", sans-serif;
	font-size:48px;
	font-weight: 700;
	font-style: italic;
	text-decoration: underline;

}
h2{
	color:black;
	font-family: "Times New Roman", sans-serif;
	font-size:32px;
	}
h3{
	color:#191970;
	font-family: "Times New Roman", sans-serif;
	font-size:30px;
	}
 p{
	color: #191970;
	font-family: "Times New Roman", sans-serif;
	font-size:20px;
	font-variant-position: justify;
}
a{
	font-family: "Times New Roman", sans-serif;
	font-size: 20px;
	text-align: center;
}

}
color: black;

}